
#site-announcements-site .elgg-list,
#site-announcements-site .elgg-list > li {
	border: none;
}

#site-announcements-site .elgg-list > li {
	margin-bottom: 5px;
}

#site-announcements-site .elgg-message {
	cursor: default;
}

#site-announcements-site .elgg-item .elgg-content {
	margin: 0;
	clear: none;
}
